body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
}

#component {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    text-align: center;
    width: 320px;
    padding: 25px;
    margin-top: 3%;
    box-shadow: 10px 5px 5px hsl(220, 15%, 55%);
}

#component img{
  width: 320px;
  height: 320px;
  border-radius: 10px;
}

#texto{
    font-family: 'Outfit', sans-serif;
}
h4{
    color: hsl(218, 44%, 22%);
}
p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

